#root {
  padding: 2rem;
  text-align: center;
  font-weight: 400;
  font-style: normal;
}

.home-container {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1em;
}

.flex {
  display: flex;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .section-1 {
  padding: 40px;
}

img.lazy {
  filter: blur(10px);
  transition: filter 0.3s ease-in-out;
}

img:not(.lazy) {
  filter: blur(0);
}
